# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author :
Youssef Moustaid

***Ojectives:***
* Use the different documentation technoques : Headings(1-6) , tables , bold text ...
* List popular languages for Data Science
* Arithmetic operation in Python 
* list popular Libraries used in Data science

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include: 
1. scikit-learn
2. pandas 
3. numpy
4. matplotlib
5. ggplot2

|Data Science Tools|
|------------------|
|Anaconda|
|IBM MAX|
|GIT|
|Tenserflow|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

* x = 10 
* y = 20
* z = x-y
* z -= 1
* x *= 10

In [3]:
# this is a simple arithmetic expression to mutiply then add integers 
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes / 60 
print(hours)

3.3333333333333335